<div class="row">
  <div class="large-6 large-centered columns sign_in_form">
<h2>Edit <%= resource_name.to_s.humanize %></h2>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%# radio_button_tag(:type, "Employer") %>
      <%# label_tag(:type, "I'm an employer") %>
    <%# radio_button_tag(:type, "Developer") %>
      <%# label_tag(:type, "I'm a developer") %>

    <div id="facebook_button">
      <% if current_user %>
        Signed in as strong<%= current_user.name %></strong>!
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
      <% else %>
        <%= link_to image_tag("facebook-buttons/facebook.jpg"), user_omniauth_authorize_path(:facebook), :class => "popup", :"data-width" => 600, :"data-height" => 400 %>
    </div>
      <% end %>

    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :location, label: "City, State", :placeholder => "e.g.Beverly Hills, CA" %>
    <% if current_user.type == 'Developer' %>
      <%= f.input :paypal_email, label: "Paypal email", placeholder: 'e.g. elon.musk@zmail.com' %>
    <% end %>
    <%= f.input :first_name, required: true, autofocus: true, :placeholder => "Barack" %>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.label :avatar, label: "Upload a profile image:" %>
    <%= f.file_field :avatar %>

    <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
    <%= f.input :password_confirmation, required: false %>

    <% if f.object.encrypted_password.present? %>
    <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
    <% end %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>





<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
  </div>
</div>

