

<div class="row">
  <div class="large-7 large-centered columns sign_up_form">
    <h2>Sign up</h2>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= resource.errors.full_messages.join(", ") %>
        <div class="form-inputs">
          <% if params[:type] == 'Developer' %>
              <%= radio_button_tag(:type, "Developer", {:checked => true}) %>
              <%= label_tag(:type, "I'm a developer (or an agency)") %>
          <% elsif params[:type] == 'Employer' %>
              <%= radio_button_tag(:type, "Employer", {:checked => true}) %>
              <%= label_tag(:type, "I'm an employer") %>
          <% elsif params[:type] == nil %>
              <%= radio_button_tag(:type, "Employer")%>
              <%= label_tag(:type, "I'm an employer") %><br>
              <%= radio_button_tag(:type, "Developer", {:checked => true}) %>
              <%= label_tag(:type, "I'm a developer or agency") %>
          <% end %>        
            <div id="facebook_button_register_page">
                <%= link_to image_tag("facebook-buttons/facebook_signup.jpg"), user_omniauth_authorize_path(:facebook, type: 'Developer'), :class => "popup", :"data-width" => 600, :"data-height" => 400 %>
                <p>...or sign up with the form:</p>
            </div>

          <%= f.input :first_name, required: true, autofocus: true, hint: "Please enter your first name", :placeholder => "First name", label: false %>

          <%= f.input :email, required: true, autofocus: true, label:
          "Primary email", :placeholder => "info@example.com", label: false, hint: "Please enter a valid email address" %>

          <%= f.input :location, label: "City, State", :placeholder => "San Francisco, CA", label: false, hint: "Please enter your location in city, state format" %>
          
          <% if f.object.password_required? %>
            <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable), :placeholder => "Password", label: false %>

          <%= f.input :password_confirmation, required: true, :placeholder => "Confirm password", label: false, hint: "Please confirm your password" %>

          <% end %>

        </div>
        <div class="form-actions">
          <%= f.button :submit, "Sign Up" %>
        </div>
      <% end %>
    <%= render "devise/shared/links" %>
  </div>
      <div class="show-for-medium-up medium-6 large-6 columns">
  </div>
</div>
<% if session[:errors].present? %>
  <% flash[:alert] = session[:errors]
     session[:errors] = nil 
  %>
<% end %>
<%= javascript_tag "facebookPopUp()" -%>




