<div id="contract_form">
<h2>List Your Project</h2>
<!-- <h4>...so you can find a local developer.</h4> -->
        <%= simple_form_for(@contract, html: {multipart: true}) do |f| %>
          <% if @contract.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

              <ul>
              <% @contract.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <%= f.label "Type of developer you are seeking:" %><br>
            <%= f.select :title, ['PHP Developer (Junior)', 'PHP Developer (Mid-level)','PHP Developer (Senior)','Ruby on Rails Developer (Junior)', 'Ruby on Rails Developer (Mid-level)', 'Ruby on Rails Developer (Senior)','iOS Developer (Junior)', 'iOS Developer (Mid-level)', 'iOS Developer (Senior)', 'Android Developer (Junior)', 'Android Developer (Mid-level)', 'Android Developer (Senior)', 'Front End Developer (Junior)', 'Front End Developer (Mid-level)', 'Front End Developer (Senior)', 'Creative Director', 'UI UX Developer (Junior)',  'UI UX Developer (Mid-level)',  'UI UX Developer (Senior)','Project Manager (Junior)', 'Project Manager (Mid-level)','Project Manager (Senior)','Full-Service Agency - we do it all!'] %>
          </div>
          <div class="field">
            <%= f.label "Your project's name:" %><br>
            <%= f.input :name, placeholder: 'e.g. Add AngularJS filters to Ruby on Rails web application', label: false %>
          </div>

          <div class="field">
            <%= f.label "Brief description of your project:" %><br>
            <%= f.text_area :description, :size => "30x10", placeholder: "e.g. We need a RoR developer to integrate the AngularJS MVC framework into our web application so that users can filter data using multiple checkboxes." %>
          </div>

          <div class="field">
            <%= f.label "This is your default employer image:" %><br>
            <% if current_user && current_user.avatar_file_name? %>
              <%= image_tag(current_user.avatar, :id => 'contractProfileImage', alt: "profile") %><br />
            <% elsif current_user && current_user.fb_image.present? %>
              <%= image_tag(current_user.fb_image, :id => 'contractProfileImage', alt: "profile image") %><br/>
            <% else %>
              <%= image_tag('noface.jpg', :id => 'contractProfileImage', alt: "profile image")  %><br />
            <% end %>
            <%= f.label :contract_avatar, label: "Upload a different (.jpg only) image file (optional)" %><br>
            <%= f.file_field :contract_avatar, as: :file %>
          </div>

          <div class="field">
            <%= f.label :attachment, label: "Upload a scope document (optional)" %><br>
            <%= f.file_field :attachment, as: :file %>
          </div>

<!--           <div class="field">
            <%# f.label "Your Federal Employee Identification Number (EIN)" %><br>
            <%# f.input :ein, label: false, placeholder: 'e.g. 27-3537698' %>
          </div> -->

<!--           Do not remove this line -->
          <%= f.hidden_field :location, :value => current_user.location %>

          <div class="field">
            <%= f.label "Total Contract Amount in $USD (contract minimum is $1,000):" %>
            <br>
            <%= f.select :amount, [['$1,000',1000],['$1,500',1500],['$2,000',2000],['$2,500',2500],['$3,000',3000],['$4,000',4000],['$5,000',5000],['$6,000',6000],['$7,000',7000],['$8,000',8000],['$9,000',9000],['$10,000',10000],['$12,500',12500],['$15,000',15000],['$20,000',20000],['$25,000',25000],['$30,000',30000],['$35,000',35000],['$40,000',40000],['$45,000',45000],['$50,000',50000],['$60,000',60000],['$70,000',70000],['$80,000',80000],['$90,000',1500],['$100,000',100000],['$125,000',125000],['$150,000',150000],['$175,000',175000],['$200,000',200000],['$250,000',200000]], placeholder: '$10,000', label: false %>
            <br>  
          </div>

          <h4>What skills are required for this project?</h4>
            <div class="field form-actions" id="skills_section_of_new_developer_form">
              <%= render partial: 'skill_category', collection: @skill_categories, locals: {form: f} %>
            </div> 

            <div id="terms_of_use_partial">
          <%= render 'developers/terms' %>
          </div>

        <div id="agree_to_terms">
          <input type="checkbox" ng-model="checked">
          <span>I agree to the <span><%= link_to "terms of use", "/legal/terms-of-use", :class => "popup", :"data-width" => 600, :"data-height" => 300 %> and <%= link_to "membership terms and conditions", "/legal/membership-terms", :class => "popup", :"data-width" => 600, :"data-height" => 300 %>.</span>
        </div>

          <div class="actions" id="contract_submit_button">
            <input type="submit" class="button actions" id="contract_submit_button" ng-disabled="!checked">
          </div>

        <% end %>

</div>
