<div id="contract_form">
<h2>List Your Project</h2>
<!-- <h4>...so you can find a local developer.</h4> -->
        <%= simple_form_for(@contract, html: {multipart: true}) do |f| %>
          <% if @contract.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

              <ul>
              <% @contract.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <%= f.label "Type of developer you are seeking:" %><br>
            <%= f.select :title, ['PHP Developer', 'Ruby on Rails Developer', 'iOS Developer', 'Android Developer', 'Front End Developer', 'Creative Director', 'UI UX Developer', 'Project Manager', 'Full-Service Agency'] %>
          </div>
          <div class="field">
            <%= f.label "Your project's name:" %><br>
            <%= f.input :name, placeholder: 'e.g. Add AngularJS filters to Ruby on Rails web application', label: false %>
          </div>

          <div class="field">
            <%= f.label "Brief description of your project:" %><br>
            <%= f.text_area :description, :size => "30x10", placeholder: "e.g. We need a RoR developer to integrate the AngularJS MVC framework into our web application so that users can filter data using multiple checkboxes." %>
          </div>

          <div class="field">
            <%= f.label :attachment, label: "Upload a scope document (optional)" %><br>
            <%= f.file_field :attachment, as: :file %>
          </div>

<!--           <div class="field">
            <%# f.label "Your Federal Employee Identification Number (EIN)" %><br>
            <%# f.input :ein, label: false, placeholder: 'e.g. 27-3537698' %>
          </div> -->

          <div class="field">
            <%= f.label "Total Contract Amount in $USD (contract minimum is $500):" %>
            <br>
            <%= f.select :amount, [500,1000,1500,2000,2500,3000,3500,4000,4500,5000,6000,7000,8000,9000,10000,12000,15000,17500,20000,25000,30000,40000,50000,60000,70000,80000,90000,100000,110000,120000,130000,140000,15000,160000,170000,180000,190000,200000,210000,215000,220000,225000], placeholder: '12000', label: false %>
            <br>  
          </div>


            <%# f.hidden_field :location, :value => current_user.location %>

          <h4>What skills are required for this project?</h4>
            <div class="field form-actions" id="skills_section_of_new_developer_form">
              <%= render partial: 'skill_category', collection: @skill_categories, locals: {form: f} %>
            </div> 

            <div id="terms_of_use_partial">
          <%= render 'developers/terms' %>
          </div>

        <div id="agree_to_terms">
          <input type="checkbox" ng-model="checked">
          <span>I agree to the <span><%= link_to "terms of use", "/legal/terms-of-use", :class => "popup", :"data-width" => 600, :"data-height" => 300 %> and <%= link_to "membership terms and conditions", "/legal/membership-terms", :class => "popup", :"data-width" => 600, :"data-height" => 300 %>.</span>
        </div>

          <div class="actions" id="contract_submit_button">
            <input type="submit" class="button actions" id="contract_submit_button" ng-disabled="!checked">
            <%# f.button :submit %>
          </div>



        <% end %>

</div>
