<div class="row">
  <div class="small-2 medium-2 large-2"></div>
  <div class="small-10 medium-10 large-10">
  	<strong><h1>My Contracts:</h1></strong>
 	<hr>
 	<% if @contracts.present? %>
		<% @contracts.each do |contract| %>
				<ul>
					<strong><%= (contract.name).split.map(&:capitalize).join(' ') %></strong> - <%= number_to_currency(contract.amount, precision: 0)%><br>
					<%= contract.description %><br>
					<strong>Contract Status:</strong> <span id="contract_<%= contract.id %>"><%= contract.status %></span>
					<% if current_user.type == 'Employer' %>
						<%= button_to 'Edit Contract', my_contracts_edit_path(contract), :class => "button right tiny" %>
						<%= link_to 'Mark Complete', update_contract_status_as_closed_and_pay_developer_contract_path(contract.id), :class => "button right success tiny", :id => 'mark_complete_button', remote: true %>
						<%= link_to 'Delete Contract', contract_path(contract.id), method: :delete, data: { confirm: 'Are you certain you want to delete this contract? This action is permanent.' }, :class => "right button tiny", :id => 'delete_contract_button' %>
						<%= link_to 'View Negotiations', my_negotiations_edit_path(contract), :class => "button right tiny", :id => 'view_negotiations_button' %>
					<% elsif current_user.type == 'Developer' %>
						<%= link_to 'Mark Complete', developer_requests_contract_marked_complete_contract_path(contract.id), :class => "button right success tiny", :id => 'mark_complete_button' %>
						<%= link_to 'Reject Offer', developer_rejects_contract_offer_contract_path(contract.id), :class => "right button tiny", :id => 'reject_offer_button' %>
						<%= link_to 'View Negotiations', my_negotiations_edit_path(contract), :class => "button right tiny", :id => 'view_negotiations_button' %>					
					<% end %>
					<hr>
				</ul>
		<% end %>
	<% else %>
		<br>
		<br>
		<br>
		<br>
		<h5>You don't have any contracts yet. <%= link_to ' Search for contracts near you now.', search_contracts_path %></h5> 
		<br>
		<br>
		<br>
		<br>
	<% end %>
  </div>
  <div class="small-2 medium-2 large-2"></div>
</div>
