  <div class="row">
    <div class="large-1 column"></div>
      <div class="large-10 column"></div> 
    <div class="large-1 column"></div>
  </div>
  <div id="player_container" class="full-width border">
    <div id="player">
    <div class="bg-content-wrapper">
        <div class="bg-content">
          <video muted data-bgpos="center" preload="auto" loop="" autoplay="" muted="" style="left: auto; right: auto; transform: scale(1, 1) translateY(-90px); opacity: 1;">
            <source type="video/mp4" src="<%= video_path('bridge_cc.mp4') %>">
          </video>
          <span class="sv-section-img alt-video-poster static-bg" src="<%= image_path('bridge_cc_frame.png') %>" style="background-image: background-position: center; background-size: cover;"></span>
        </div>
    </div>
    </div>
    <div class="text-center landing-page-buttons full-width border">
<!--       <h2 id="landing-page-headline" class="text-center text-jumbo">&ldquo;The fastest, easiest way to hire a local developer.&rdquo;</h2> -->
      <h2 id="landing-page-headline" class="text-center text-jumbo">&ldquo;Premium software developers are going to flock to this app like files to git.&rdquo;</h2>
      <h5 id="subtitle" class="text-center"> - Peter Gregorian, Venture Capitalist - Silicon Valley</h5>
      <br>
      <%= link_to('GET STARTED', register_path, class: "button large [radius round] button_landing_page_right") %>
    </div>
  </div>
  
  <div class="row">
    <div class="large-4 columns">
      <i class="fi-fast-forward foundation-icon"></i>
      <h4>IT'S FAST</h4>
      <p><strong>For Employers</strong>  - No more waiting around for recruiters.  Find and hire a local developer today.</p>
      <p><strong>For Developers</strong>  - Get PAID UPFRONT up to 50% of the full contract value before you write your first line of code.</p><p>No more endless meetings, blogging, and online marketing to keep your pipeline of clients stocked - lock in a steady flow of clients to avoid the feast-or-famine experienced by freelancers.</p>
    </div>
    
    <div class="large-4 columns">
      <i class="fi-compass foundation-icon"></i>
      <h4>IT'S LOCAL</h4>
      <p><strong>For Employers</strong>  - Find a great, local developer who you can meet with in person when needed. No more miscommunication across timezones and cultures. Sometimes offshoring is the right choice, but when you need a talented, local developer to join your team, we're here for you.  And know that your developer is part of our community, a local resource whenever you need to scale up quickly.</p>
      <p><strong>For Developers</strong>  - Make a corporate salary while living a freedom-based, remote lifestyle. You can find a short-term project or meet once or twice a month in person, and work from your laptop the rest of the time - it's up to you and the employer to neogotiate your preferred terms. And no more competing with offshore developers charging six dollars per hour on those other freelance websites - that endless race to the bottom stops here.</p>
    </div>
    
    <div class="large-4 columns">
      <i class="fi-cloud foundation-icon"></i>
      <h4>IT'S SAFE</h4>
      <p><strong>For Employers</strong> - Know that your project is going to get done right.  We hold your balance (minus any upfront payment to the developer) in an FDIC-insured escrow account until you sign off on the final deliverable.</p>
      <p><strong>For Developers</strong>  - Anyone who contacts you through our app means business - each employer must deposit the full amount of the contract before you write the first line of code. And <strong>developers can earn up to 50% of the contracted amount upfront</strong> <%= link_to '(view details).', 'payouts.html', :class => "popup", :"data-width" => 600, :"data-height" => 400 %></p><p>You can even set a minimum contract amount - so no one can contact you unless they're legit.</p>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
  <h4 id="and_its_always_free_tagline" class="text-center">...and it's <strong><em>always free</em></strong> for developers. </h4>
    </div>
  </div>
 
<%= javascript_tag "facebookPopUp()" -%>
