  <div class="row">
    <div class="large-1 column"></div>
      <div class="large-10 column"></div> 
    <div class="large-1 column"></div>
  </div>
  <div id="player_container" class="full-width border">
    <div id="player">
    <div class="bg-content-wrapper">
        <div class="bg-content">
          <video id="video" muted data-bgpos="center" preload="auto" loop="" autoplay="" muted="" style="left: auto; right: auto; transform: scale(1, 1) translateY(-90px); opacity: 1;">
            <source type="video/mp4" src="<%= video_path('bridge_cc.mp4') %>">
          </video>
          <span class="sv-section-img alt-video-poster static-bg" src="<%= image_path('bridge_cc_frame.png') %>" style="background-image: background-position: center; background-size: cover;"></span>
        </div>
    </div>
    </div>
    <div class="text-center landing-page-buttons full-width border" id="headlines">
      <h2 id="landing-page-headline" class="text-center text-jumbo">Welcome to the stock market for tech talent.</h2>
      <h5 id="subtitle" class="text-center"> Instantly Find and Hire Local Developers for <em>30-day contracts</em>.</h5>
      <br>
      <div>
      <%= link_to('HIRE', register_path(:type => 'Employer'), :id => "mobile_hide", class: "button large [radius round] button_landing_page_left") %>
      <%= link_to('GET HIRED', register_path(:type => 'Developer'), :id => "mobile_hide", class: "button large [radius round] button_landing_page_right success") %>
      </div>
    </div>
  </div>
  <div id="ticker_tape">
    <% 400.times do %>
        <span id="ticker_tape_developer_type"><%= ['Ruby on Rails Developer (Junior)','Ruby on Rails Developer (Mid-level)','Ruby on Rails Developer (Senior)','PHP Developer (Junior)','PHP Developer (Mid-level)','PHP Developer (Senior)','iOS Developer (Junior)','iOS Developer (Mid-level)','iOS Developer (Senior)','AngularJS Developer','Java Developer','Front-End Developer'].sample %></span>
        <span id="ticker_tape_contract_amount"><%= number_to_currency(rand(8000..15000).round(-2), :precision => 0) %></span>
    <% end %>
  </div>

  <div class="row">
    <div class="large-3 columns">
      <%= image_tag('face_2.png', :class => 'testimonial_image') %>
    </div>
    <div class="large-9 columns testimonial">
      <blockquote>My startup lost its entire engineering team in what I like to call a <em>freak display of millennial immaturity</em>.  We needed to call in some <strong>pinch-hitters</strong> as a stop-gap measure. We had three <strong>Node.js</strong> developers by the next morning thanks to San Francisco Developer Exchange&trade;!<cite>David Solomon - CTO</cite></p></blockquote> 
        <br>
    </div>
    <hr>
  </div>

  <div class="row">
    <div class="large-3 columns">
      <%= image_tag('adam.jpg', :class => 'testimonial_image') %>
    </div>
    <div class="large-9 columns testimonial">
      <blockquote>What Airbnb&trade; did for unused <strong>room capacity</strong>, San Francisco Developer Exchange&trade; accomplishes for unused <strong>talent capacity</strong> - it gives you efficient access to tech talent on an as-needed basis.<cite>Adam Wohlberg - Ruby on Rails Developer & Founder</cite><p><%= link_to('...currently on the lookout for a great contract.', developers_path) %></p></blockquote> 
        <br>
    </div>
    <hr>
  </div>


  <div class="row">
    <div class="large-3 columns">
      <%= image_tag('whim.jpg', :class => 'testimonial_image') %>
    </div>
    <div class="large-9 columns testimonial">
      <blockquote>A more personal way to browse candidates - I love seeing their profiles in a similar format to those on dating apps.<cite>Eve Peters - Founder, Whim&reg;</cite><p><%= link_to('...currently on the lookout for a great iOS/Golang developer.', contracts_path) %></p></blockquote> 
        <br>
    </div>
    <hr>
  </div>

  <div class="row">
    <div class="large-3 columns">
      <%= image_tag('face_4.png', :class => 'testimonial_image') %>
    </div>
    <div class="large-9 columns testimonial">
      <blockquote>I wanted to live the <strong>freelance lifestyle</strong> and still afford a Tesla&reg;. The minimum contract amount feature allowed me to only be contacted by clients with contracts in my desired price range.<cite>Joshua Busby - Freelance Developer </cite></blockquote> 
      <br>
     <br>
    </div>
  </div>
<hr>
<br>
  <div class="row">
    <div class="large-6 large-centered columns">
        <%= link_to('HIRE', register_path(:type => 'Employer'), :id => "mobile_hide", :class => "button large [radius round] button_landing_page_left") %>
      <%= link_to('GET HIRED', register_path(:type => 'Developer'), :id => "mobile_hide", :class => "button large [radius round] button_landing_page_right success") %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="large-10 columns large-centered">
      <table id="data_table" style="width:100%;text-align:center;">
        <thead>
          <tr>
            <th id="head" colspan="3">30-Day Contracts</th>
          </tr>
          <tr>
            <th>Developer Type</th>
            <th>Bid*</th>
            <th>Ask**</th>
          </tr>
        <thead>
        <tbody>
          <tr><td><%= link_to("PHP Developer (Junior)", developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*PHP*JUNIOR*BID..MAX*CONTRACT_AVERAGE*PHP*JUNIOR*BID), precision: 0), developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*PHP*JUNIOR*ASK..MAX*CONTRACT_AVERAGE*PHP*JUNIOR*ASK), precision: 0), contracts_path) %></td></tr>
          <tr><td><%= link_to("PHP Developer (Mid-level)", developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*PHP*MIDLEVEL*BID..MAX*CONTRACT_AVERAGE*PHP*MIDLEVEL*BID), precision: 0), developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*PHP*MIDLEVEL*ASK..MAX*CONTRACT_AVERAGE*PHP*MIDLEVEL*ASK), precision: 0), contracts_path) %></td></tr>
          <tr><td><%= link_to("PHP Developer (Senior)", developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*PHP*SENIOR*BID..MAX*CONTRACT_AVERAGE*PHP*SENIOR*BID), precision: 0), developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*PHP*SENIOR*BID..MAX*CONTRACT_AVERAGE*PHP*SENIOR*BID), precision: 0), contracts_path) %></td></tr>

          <tr><td><%= link_to("Ruby on Rails Developer (Junior)", developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*RUBY*JUNIOR*BID..MAX*CONTRACT_AVERAGE*RUBY*JUNIOR*BID), precision: 0), developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*RUBY*JUNIOR*ASK..MAX*CONTRACT_AVERAGE*RUBY*JUNIOR*ASK), precision: 0), contracts_path) %></td></tr>
          <tr><td><%= link_to("Ruby on Rails Developer (Mid-level)", developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*RUBY*MIDLEVEL*BID..MAX*CONTRACT_AVERAGE*RUBY*MIDLEVEL*BID), precision: 0), developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*RUBY*MIDLEVEL*ASK..MAX*CONTRACT_AVERAGE*RUBY*MIDLEVEL*ASK), precision: 0), contracts_path) %></td></tr>
          <tr><td><%= link_to("Ruby on Rails Developer (Senior)", developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*RUBY*SENIOR*BID..MAX*CONTRACT_AVERAGE*RUBY*SENIOR*BID), precision: 0), developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*RUBY*SENIOR*BID..MAX*CONTRACT_AVERAGE*RUBY*SENIOR*BID), precision: 0), contracts_path) %></td></tr>

          <tr><td><%= link_to("iOS (Junior)", developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*IOS*JUNIOR*BID..MAX*CONTRACT_AVERAGE*IOS*JUNIOR*BID), precision: 0), developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*IOS*JUNIOR*ASK..MAX*CONTRACT_AVERAGE*IOS*JUNIOR*ASK), precision: 0), contracts_path) %></td></tr>
          <tr><td><%= link_to("iOS (Mid-level)", developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*IOS*MIDLEVEL*BID..MAX*CONTRACT_AVERAGE*IOS*MIDLEVEL*BID), precision: 0), developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*IOS*MIDLEVEL*ASK..MAX*CONTRACT_AVERAGE*IOS*MIDLEVEL*ASK), precision: 0), contracts_path) %></td></tr>
          <tr><td><%= link_to("iOS (Senior)", developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*IOS*SENIOR*BID..MAX*CONTRACT_AVERAGE*IOS*SENIOR*BID), precision: 0), developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*IOS*SENIOR*BID..MAX*CONTRACT_AVERAGE*IOS*SENIOR*BID), precision: 0), contracts_path) %></td></tr>

          <tr><td><%= link_to("Android Developer (Junior)", developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*ANDROID*JUNIOR*BID..MAX*CONTRACT_AVERAGE*ANDROID*JUNIOR*BID), precision: 0), developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*ANDROID*JUNIOR*ASK..MAX*CONTRACT_AVERAGE*ANDROID*JUNIOR*ASK), precision: 0), contracts_path) %></td></tr>
          <tr><td><%= link_to("Android Developer (Mid-level)", developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*ANDROID*MIDLEVEL*BID..MAX*CONTRACT_AVERAGE*ANDROID*MIDLEVEL*BID), precision: 0), developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*ANDROID*MIDLEVEL*ASK..MAX*CONTRACT_AVERAGE*ANDROID*MIDLEVEL*ASK), precision: 0), contracts_path) %></td></tr>
          <tr><td><%= link_to("Android Developer (Senior)", developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*ANDROID*SENIOR*BID..MAX*CONTRACT_AVERAGE*ANDROID*SENIOR*BID), precision: 0), developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*ANDROID*SENIOR*BID..MAX*CONTRACT_AVERAGE*ANDROID*SENIOR*BID), precision: 0), contracts_path) %></td></tr>

          <tr><td><%= link_to("Java Developer (Junior)", developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*ANDROID*JUNIOR*BID..MAX*CONTRACT_AVERAGE*ANDROID*JUNIOR*BID), precision: 0), developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*ANDROID*JUNIOR*ASK..MAX*CONTRACT_AVERAGE*ANDROID*JUNIOR*ASK), precision: 0), contracts_path) %></td></tr>
          <tr><td><%= link_to("Java Developer (Mid-level)", developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*ANDROID*MIDLEVEL*BID..MAX*CONTRACT_AVERAGE*ANDROID*MIDLEVEL*BID), precision: 0), developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*ANDROID*MIDLEVEL*ASK..MAX*CONTRACT_AVERAGE*ANDROID*MIDLEVEL*ASK), precision: 0), contracts_path) %></td></tr>
          <tr><td><%= link_to("Java Developer (Senior)", developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*ANDROID*SENIOR*BID..MAX*CONTRACT_AVERAGE*ANDROID*SENIOR*BID), precision: 0), developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*ANDROID*SENIOR*BID..MAX*CONTRACT_AVERAGE*ANDROID*SENIOR*BID), precision: 0), contracts_path) %></td></tr>

          <tr><td><%= link_to("Front-End Developer (Junior)", developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*PHP*JUNIOR*BID..MAX*CONTRACT_AVERAGE*PHP*JUNIOR*BID), precision: 0), developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*PHP*JUNIOR*ASK..MAX*CONTRACT_AVERAGE*PHP*JUNIOR*ASK), precision: 0), contracts_path) %></td></tr>
          <tr><td><%= link_to("Front-End Developer (Mid-level)", developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*PHP*MIDLEVEL*BID..MAX*CONTRACT_AVERAGE*PHP*MIDLEVEL*BID), precision: 0), developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*PHP*MIDLEVEL*ASK..MAX*CONTRACT_AVERAGE*PHP*MIDLEVEL*ASK), precision: 0), contracts_path) %></td></tr>
          <tr><td><%= link_to("Front-End Developer (Senior)", developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*PHP*SENIOR*BID..MAX*CONTRACT_AVERAGE*PHP*SENIOR*BID), precision: 0), developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*PHP*SENIOR*BID..MAX*CONTRACT_AVERAGE*PHP*SENIOR*BID), precision: 0), contracts_path) %></td></tr>

          <tr><tr><td><%= link_to("UI/UX Developer (Junior)", developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*PHP*JUNIOR*BID..MAX*CONTRACT_AVERAGE*PHP*JUNIOR*BID), precision: 0), developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*PHP*JUNIOR*ASK..MAX*CONTRACT_AVERAGE*PHP*JUNIOR*ASK), precision: 0), contracts_path) %></td></tr>
          <tr><tr><td><%= link_to("UI/UX Developer (Mid-level)", developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*PHP*MIDLEVEL*BID..MAX*CONTRACT_AVERAGE*PHP*MIDLEVEL*BID), precision: 0), developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*PHP*MIDLEVEL*ASK..MAX*CONTRACT_AVERAGE*PHP*MIDLEVEL*ASK), precision: 0), contracts_path) %></td></tr>
          <tr><tr><td><%= link_to("UI/UX Developer (Senior)", developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*PHP*SENIOR*BID..MAX*CONTRACT_AVERAGE*PHP*SENIOR*BID), precision: 0), developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*PHP*SENIOR*BID..MAX*CONTRACT_AVERAGE*PHP*SENIOR*BID), precision: 0), contracts_path) %></td></tr>

          <tr><tr><td><%= link_to("Project Manager (Junior)", developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*PHP*JUNIOR*BID..MAX*CONTRACT_AVERAGE*PHP*JUNIOR*BID), precision: 0), developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*PHP*JUNIOR*ASK..MAX*CONTRACT_AVERAGE*PHP*JUNIOR*ASK), precision: 0), contracts_path) %></td></tr>
          <tr><tr><td><%= link_to("Project Manager (Mid-level)", developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*PHP*MIDLEVEL*BID..MAX*CONTRACT_AVERAGE*PHP*MIDLEVEL*BID), precision: 0), developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*PHP*MIDLEVEL*ASK..MAX*CONTRACT_AVERAGE*PHP*MIDLEVEL*ASK), precision: 0), contracts_path) %></td></tr>
          <tr><tr><td><%= link_to("Project Manager (Senior)", developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*PHP*SENIOR*BID..MAX*CONTRACT_AVERAGE*PHP*SENIOR*BID), precision: 0), developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*PHP*SENIOR*BID..MAX*CONTRACT_AVERAGE*PHP*SENIOR*BID), precision: 0), contracts_path) %></td></tr>

          <tr><td><%= link_to("Creative Director (Junior)", developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*CREATIVE_AGENCY*JUNIOR*BID..MAX*CONTRACT_AVERAGE*CREATIVE_AGENCY*JUNIOR*BID), precision: 0), developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*CREATIVE_AGENCY*JUNIOR*ASK..MAX*CONTRACT_AVERAGE*CREATIVE_AGENCY*JUNIOR*ASK), precision: 0), contracts_path) %></td></tr>
          <tr><td><%= link_to("Creative Director (Mid-level)", developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*CREATIVE_AGENCY*MIDLEVEL*BID..MAX*CONTRACT_AVERAGE*CREATIVE_AGENCY*MIDLEVEL*BID), precision: 0), developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*CREATIVE_AGENCY*MIDLEVEL*ASK..MAX*CONTRACT_AVERAGE*CREATIVE_AGENCY*MIDLEVEL*ASK), precision: 0), contracts_path) %></td></tr>
          <tr><td><%= link_to("Creative Director (Senior)", developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*CREATIVE_AGENCY*SENIOR*BID..MAX*CONTRACT_AVERAGE*CREATIVE_AGENCY*SENIOR*BID), precision: 0), developers_path) %></td><td><%= link_to(number_to_currency(rand(MIN*CONTRACT_AVERAGE*CREATIVE_AGENCY*SENIOR*BID..MAX*CONTRACT_AVERAGE*CREATIVE_AGENCY*SENIOR*BID), precision: 0), contracts_path) %></td></tr>

        </tbody>
      </table>
      <p>*Bid=Highest Employer Contract **Ask=Lowest Developer Offer</p>
    </div>
  </div>
  <hr>

  <div class="row">
       <div class="large-12 columns">
        <h1 class="why_should_i_headline">Instantly find local developers or local contracts.</h1>
        <br>       
        <%= image_tag('searching.jpg', :class => 'searching_screenshot') %>
        <br>
        <br> 
        <hr>   
        </div>
      <div class="large-12 columns">
        <h1 class="why_should_i_headline">Swipe through developers and view their details.</h1>
        <div id="iphone_container">     
          <%= image_tag('iphone_mobile.png', :class => 'iphone_image') %>
          <%= image_tag('iphone_mobile_back.png', :class => 'iphone_image_back') %>
        </div>
        <hr>    
      </div>
      <div class="large-12 columns">
        <h1 id="instantly-hire-section" class="why_should_i_headline">Instantly hire your developer...</h1> 
        <br>      
        <%= image_tag('instant_hire.png', :class => 'instant_hire_screenshot') %>
        <br>
        <br>
        <h1 class="why_should_i_headline">And have her on your team as fast as The Large Haldron Collider can smash a couple subatomic particles together (well...almost that fast).</h1> 
        <br> 
      </div>
  </div>
  <hr>
      <div class="large-12 columns">
        <br>
        <br>
        <h1 id="why_should_i_sign_up_headline">How is this app totally <strong>awesome sauce</strong>?</h1>
        <br>
        <br>
      <hr>
      </div>
  <div class="row">
      <div class="large-12 columns">
        <h1 class="why_should_i_headline">Corporate jobs are um...<strong>corporate jobs.</strong></h1>       
        <br>
        <%= image_tag('corporate.jpg', :class => 'cartoon_image') %>
        <br>
        <br> 
      </div>
      <div class="large-12 columns">
        <h1 class="why_should_i_headline">Freelancing on <strong>other freelancer sites</strong> won't pay the bills.</h1>
        <br>
        <%= image_tag('poor.jpg', :class => 'cartoon_image') %>
            <br>
      <br>
      </div>
      <div class="large-12 columns">
        <h1 class="why_should_i_headline">Now you can enjoy a <strong>corporate paycheck</strong> while living the <strong>freedom-based lifestyle</strong> of an independent developer.</h1>
        <br>
        <%= image_tag('freedom.jpg', :class => 'freedom_image') %>
        <br>
        <br>
        <h1 class="why_should_i_headline">Now that's <strong>awesome sauce.</strong></h1>
      </div>
  </div>
  <hr>
  <div id="landing_page_benefits_section">
<br>
  <div class="row">
    <div class="large-6 large-centered columns">
        <%= link_to('HIRE', register_path(:type => 'Employer'), :id => "mobile_hide", class: "button large [radius round] button_landing_page_left") %>
      <%= link_to('GET HIRED', register_path(:type => 'Developer'), :id => "mobile_hide", class: "button large [radius round] button_landing_page_right success") %>
    </div>
  </div>
<hr>
    <div class="row">
      <div class="large-12 columns">
        <h1 id="why_should_i_sign_up_headline">What Are The Benefits to <strong>Developers</strong>?</h1>
      </div>
      <div class="large-4 columns">
        <i class="fi-fast-forward foundation-icon"></i>
        <h4>IT'S FAST</h4>
        <p>Get <strong>paid upfront</strong> up to 50% of the full contract value before you write your first line of code.</p><p>No more endless meetings, blogging, and online marketing to keep your pipeline of clients stocked - lock in a steady flow of clients to avoid the feast-or-famine experienced by other freelancers. </p><p>No more selling yourself short or taking a lower-paying corporate job for fear of not finding enough contract work. It's a developers market - know your true market value and lock in great contracts - every week.</p>
      </div>
      
      <div class="large-4 columns">
        <i class="fi-compass foundation-icon"></i>
        <h4>IT'S LOCAL</h4>
        <p>Make a corporate salary while living a freedom-based, remote lifestyle. You can find a short-term project and work next week! Then take a week off and fly to Bali for a surf trip! And no more competing with offshore developers charging six dollars per hour on those other freelance websites - that endless race to the bottom stops here.</p>
      </div>
      
      <div class="large-4 columns">
        <i class="fi-cloud foundation-icon"></i>
        <h4>IT'S SAFE</h4>
        <p>Anyone who contacts you through our app means business - each employer must deposit the full amount of the contract before you write the first line of code. And <strong>developers can earn up to 50% of the contracted amount upfront</strong>.</p><p>You can even set a minimum contract amount - so no one can contact you unless they're legit.</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="large-12 columns">
        <h1 id="why_should_i_sign_up_headline">What Are The Benefits to <strong>Employers</strong>?</h1>
      </div>
      <div class="large-4 columns">
        <i class="fi-fast-forward foundation-icon"></i>
        <h4>IT'S FAST</h4>
        <p>No more waiting around for recruiters.  Find and hire a local developer today. Find a great, local developer and have them in your office the next day - or meet with them once and let them work remotely the rest of the week - it's totally up to you! </p>
      </div>
      
      <div class="large-4 columns">
        <i class="fi-compass foundation-icon"></i>
        <h4>IT'S LOCAL</h4>
        <p>No more miscommunication across timezones and cultures. Sometimes offshoring is the right choice, but when you need a talented, local developer to join your team, we're here for you.  And know that your developer is part of our community, a local resource whenever you need to scale up quickly.</p>
      </div>
  
      <div class="large-4 columns">
        <i class="fi-cloud foundation-icon"></i>
        <h4>IT'S SAFE</h4>
        <p>Limit your risk by hiring a developer for one week only.  If you like them, hire them back or make them a full-time offer. If not, simply hire a new developer the next week.  It just makes sense to have a test period before you take on the risk of a new full-time hire. Our app allows you to test a new developer in your culture each week - and then stick with the one who is the perfect fit.</p><p>The smartest firms hire slowly and fire quickly.  Our app let's you take less risk and find the perfect fit before you hire them full-time or, scale up and down flexibly as new projects come and go - making your labor costs incremental rather than fixed - your CFO will love it!</p>
      </div>
      </div>
    </div> 
  <div class="row">
    <div class="large-12 columns">
  <h2 id="and_its_always_free_tagline" class="text-center">...and it's <strong><em>always free </em></strong>for developers. Oh, Snap!</em></h2>
    <br>
    <div class="row">
    <div class="large-6 large-centered columns">
        <%= link_to('HIRE', register_path(:type => 'Employer'), :id => "mobile_hide", class: "button large [radius round] button_landing_page_left") %>
      <%= link_to('GET HIRED', register_path(:type => 'Developer'), :id => "mobile_hide", class: "button large [radius round] button_landing_page_right success") %>
    </div>
    <br>
  </div>
    <br>
    </div>
  </div>
<%= javascript_tag "facebookPopUp()" -%>

