  <div class="row">
    <div class="large-1 column"></div>
      <div class="large-10 column"></div> 
    <div class="large-1 column"></div>
  </div>
  <div id="player_container" class="full-width border">
    <div id="player">
    <div class="bg-content-wrapper">
        <div class="bg-content">
          <video muted data-bgpos="center" preload="auto" loop="" autoplay="" muted="" style="left: auto; right: auto; transform: scale(1, 1) translateY(-90px); opacity: 1;">
            <source type="video/mp4" src="<%= video_path('bridge_cc.mp4') %>">
          </video>
          <span class="sv-section-img alt-video-poster static-bg" src="<%= image_path('bridge_cc_frame.png') %>" style="background-image: background-position: center; background-size: cover;"></span>
        </div>
    </div>
    </div>
    <div class="text-center landing-page-buttons full-width border" id="headlines">
    <% if (Time.now.to_i % 10) == 10 %>
      <h2 id="landing-page-headline" class="text-center text-jumbo">&ldquo;I used to work corporate. Now I freelance from a beachhouse in Bali.&rdquo;</h2>
      <h5 id="subtitle" class="text-center"> - Nicholas Jones, PHP Developer, Bali, Indonesia</h5>
    <% elsif (Time.now.to_i % 10) == 10 %>
      <h2 id="landing-page-headline" class="text-center text-jumbo">&ldquo;The fastest, easiest way to hire a local developer.&rdquo;</h2>
      <h5 id="subtitle" class="text-center"> - Patrick Murphy, CTO, Salt Lake City</h5>
    <% elsif (Time.now.to_i % 10) == 10 %>
      <h2 id="landing-page-headline" class="text-center text-jumbo">&ldquo;Wow! I love tech recruiter spam. Said no one ever.&rdquo;</h2>
      <h5 id="subtitle" class="text-center"> - Jason Bloomberg, Ruby on Rails Developer, NY</h5>
    <% elsif (Time.now.to_i % 10) == 10 %>
      <h2 id="landing-page-headline" class="text-center text-jumbo">&ldquo;Software developers are going to flock to this app like files to git.&rdquo;</h2>
      <h5 id="subtitle" class="text-center"> - Peter Gregorian, Venture Capitalist - Silicon Valley</h5>
    <% elsif (Time.now.to_i % 10) == 10 %>
      <h2 id="landing-page-headline" class="text-center text-jumbo">&ldquo;The four hour workweek was just a dream; this is the site that makes 'lifestyle design' a reality.&rdquo;</h2>
      <h5 id="subtitle" class="text-center"> - Nicholas Freeman, Entrepreneur</h5>
    <% elsif (Time.now.to_i % 10) == 10 %>
      <h2 id="landing-page-headline" class="text-center text-jumbo">&ldquo;Now I can freelance and still make a high six-figure income.&rdquo;</h2>
      <h5 id="subtitle" class="text-center"> - David Zuckerman, Front-End Developer, Williamsburgh, Brooklyn</h5>
    <% elsif (Time.now.to_i % 10) == 10 %>
      <h2 id="landing-page-headline" class="text-center text-jumbo">&ldquo;We hire slowly and fire quickly...always for a contract first.  Only after a successful contract, will we extend a full-time offer.&rdquo;</h2>
      <h5 id="subtitle" class="text-center"> - Angela Fiarino, VP Human Resources</h5>
    <% elsif (Time.now.to_i % 10) == 10 %>
      <h2 id="landing-page-headline" class="text-center text-jumbo">&ldquo;Recruiters only wanted to place me in full-time positions; I wanted my freedom to travel while working from my laptop.&rdquo;</h2>
      <h5 id="subtitle" class="text-center"> - David Hoffmeier, World Traveler, Developer</h5>
    <% elsif (Time.now.to_i % 10) == 10 %>
      <h2 id="landing-page-headline" class="text-center text-jumbo">&ldquo;Recruiters only wanted to place me in full-time positions; I wanted my freedom to travel while working from my laptop.&rdquo;</h2>
      <h5 id="subtitle" class="text-center"> - David Hoffmeier, World Traveler, Developer</h5>
    <% elsif (Time.now.to_i % 10) == 10 %>
      <h2 id="landing-page-headline" class="text-center text-jumbo">&ldquo;The New York Stock Exchange of developer contracts.&rdquo;</h2>
      <h5 id="subtitle" class="text-center"> - Christopher Perry, VC - Private Equity Fund</h5>
    <% elsif (Time.now.to_i % 10) == 10 %>
      <h2 id="landing-page-headline" class="text-center text-jumbo">&ldquo;Where the smartest entrepreneurs and developers in Silicon Valley connect to build great apps.&rdquo;</h2>
      <h5 id="subtitle" class="text-center"> - Alexander Johnson, Freelance App Developer - San Francisco</h5>
    <% elsif (Time.now.to_i % 10) == 10 %>
      <h2 id="landing-page-headline" class="text-center text-jumbo">&ldquo;Make Money. Code Remotely.&rdquo;</h2>
      <h5 id="subtitle" class="text-center"> - Alexander Johnson, Freelance App Developer - San Francisco</h5>
    <% elsif (Time.now.to_i % 10) == 10 %>
      <h2 id="landing-page-headline" class="text-center text-jumbo">Make Money. Code Remotely.</h2>
      <h5 id="subtitle" class="text-center"> Get Paid Upfront | Find Local Developer Contracts | Set Your Own Rate </h5>
    <% else %>
      <h2 id="landing-page-headline" class="text-center text-jumbo">Welcome to the stock market for tech talent.</h2>
      <h5 id="subtitle" class="text-center"> Instantly Find and Hire Local Developers for ONE WEEK contracts.</h5>
    <% end %>
      <br>
      <div>
      <%= link_to('HIRE', register_path(:type => 'Employer'), :id => "mobile_hide", class: "button large [radius round] button_landing_page_left") %>
      <%= link_to('GET HIRED', register_path(:type => 'Developer'), :id => "mobile_hide", class: "button large [radius round] button_landing_page_right success") %>
      </div>
    </div>
  </div>
  <div id="ticker_tape">
    <% 1000.times do %>
        <span><%= ['RAILS','NODE.JS','ANGULAR.JS','PHP','ERICA'].sample + "  $" + rand(1000..5000).to_s %></span>
    <% end %>
<!--     <span>RAILS&nbsp;&nbsp;&nbsp;$2500</span>
    <span>NODE.JS&nbsp;&nbsp;&nbsp;$5000</span>
    <span>ANGULAR.JS&nbsp;&nbsp;&nbsp;$1000</span>
     <span>PHP&nbsp;&nbsp;&nbsp;$1500</span>
    <span>RAILS&nbsp;&nbsp;&nbsp;$1500</span>
    <span>RAILS&nbsp;&nbsp;&nbsp;$2500</span>
    <span>METEOR&nbsp;&nbsp;&nbsp;$2000</span>
    <span>ANGULAR.JS&nbsp;&nbsp;&nbsp;$1000</span>
    <span>RAILS&nbsp;&nbsp;&nbsp;$5000</span> 
    <span>RAILS&nbsp;&nbsp;&nbsp;$2500</span>
    <span>NODE.JS&nbsp;&nbsp;&nbsp;$5000</span>
    <span>ANGULAR.JS&nbsp;&nbsp;&nbsp;$1000</span>
     <span>PHP&nbsp;&nbsp;&nbsp;$1500</span>
    <span>RAILS&nbsp;&nbsp;&nbsp;$1500</span>
    <span>RAILS&nbsp;&nbsp;&nbsp;$2500</span>
    <span>METEOR&nbsp;&nbsp;&nbsp;$2000</span>
    <span>ANGULAR.JS&nbsp;&nbsp;&nbsp;$1000</span>
    <span>RAILS&nbsp;&nbsp;&nbsp;$5000</span> 
    <span>RAILS&nbsp;&nbsp;&nbsp;$2500</span>
    <span>NODE.JS&nbsp;&nbsp;&nbsp;$5000</span>
    <span>ANGULAR.JS&nbsp;&nbsp;&nbsp;$1000</span>
     <span>PHP&nbsp;&nbsp;&nbsp;$1500</span>
    <span>RAILS&nbsp;&nbsp;&nbsp;$1500</span>
    <span>RAILS&nbsp;&nbsp;&nbsp;$2500</span>
    <span>METEOR&nbsp;&nbsp;&nbsp;$2000</span>
    <span>ANGULAR.JS&nbsp;&nbsp;&nbsp;$1000</span>
    <span>RAILS&nbsp;&nbsp;&nbsp;$5000</span>
    <span>RAILS&nbsp;&nbsp;&nbsp;$2500</span>
    <span>NODE.JS&nbsp;&nbsp;&nbsp;$5000</span>
    <span>ANGULAR.JS&nbsp;&nbsp;&nbsp;$1000</span>
     <span>PHP&nbsp;&nbsp;&nbsp;$1500</span>
    <span>RAILS&nbsp;&nbsp;&nbsp;$1500</span>
    <span>RAILS&nbsp;&nbsp;&nbsp;$2500</span>
    <span>METEOR&nbsp;&nbsp;&nbsp;$2000</span>
    <span>ANGULAR.JS&nbsp;&nbsp;&nbsp;$1000</span>
    <span>RAILS&nbsp;&nbsp;&nbsp;$5000</span> 
    <span>RAILS&nbsp;&nbsp;&nbsp;$2500</span>
    <span>NODE.JS&nbsp;&nbsp;&nbsp;$5000</span>
    <span>ANGULAR.JS&nbsp;&nbsp;&nbsp;$1000</span>
     <span>PHP&nbsp;&nbsp;&nbsp;$1500</span>
    <span>RAILS&nbsp;&nbsp;&nbsp;$1500</span>
    <span>RAILS&nbsp;&nbsp;&nbsp;$2500</span>
    <span>METEOR&nbsp;&nbsp;&nbsp;$2000</span>
    <span>ANGULAR.JS&nbsp;&nbsp;&nbsp;$1000</span>
    <span>RAILS&nbsp;&nbsp;&nbsp;$5000</span> 
    <span>RAILS&nbsp;&nbsp;&nbsp;$2500</span>
    <span>NODE.JS&nbsp;&nbsp;&nbsp;$5000</span>
    <span>ANGULAR.JS&nbsp;&nbsp;&nbsp;$1000</span>
     <span>PHP&nbsp;&nbsp;&nbsp;$1500</span>
    <span>RAILS&nbsp;&nbsp;&nbsp;$1500</span>
    <span>RAILS&nbsp;&nbsp;&nbsp;$2500</span>
    <span>METEOR&nbsp;&nbsp;&nbsp;$2000</span>
    <span>ANGULAR.JS&nbsp;&nbsp;&nbsp;$1000</span>
    <span>RAILS&nbsp;&nbsp;&nbsp;$5000</span>   -->
  </div>

  <div class="row">
    <div class="large-3 columns">
      <%= image_tag('face_2.png', :class => 'testimonial_image') %>
    </div>
    <div class="large-9 columns testimonial">
      <blockquote>My startup lost its entire engineering team in what I like to call a <em>freak display of millennial immaturity</em>.  We needed to call in some <strong>pinch-hitters</strong> as a stop-gap measure. We had three <strong>Node.js</strong> developers by the next morning thanks to San Francisco Developer Exchange&trade;!<cite>David Solomon - CTO</cite></p></blockquote> 
        <br>
    </div>
    <hr>
  </div>

  <div class="row">
    <div class="large-3 columns">
      <%= image_tag('adam.jpg', :class => 'testimonial_image') %>
    </div>
    <div class="large-9 columns testimonial">
      <blockquote>What Airbnb&trade; did for unused <strong>room capacity</strong>, San Francisco Developer Exchange&trade; accomplishes for unused <strong>talent capacity</strong> - it gives you efficient access to tech talent on an as-needed basis.<cite>Adam Wohlberg - Ruby on Rails Developer & Founder</cite><p><%= link_to('...currently on the lookout for a great contract.', developers_path) %></p></blockquote> 
        <br>
    </div>
    <hr>
  </div>


  <div class="row">
    <div class="large-3 columns">
      <%= image_tag('whim.jpg', :class => 'testimonial_image') %>
    </div>
    <div class="large-9 columns testimonial">
      <blockquote>A more personal way to browse candidates - I love seeing their profiles in a similar format to those on dating apps.<cite>Eve Peters - Founder, Whim&reg;</cite><p><%= link_to('...currently on the lookout for a great iOS/Golang developer.', contracts_path) %></p></blockquote> 
        <br>
    </div>
    <hr>
  </div>

  <div class="row">
    <div class="large-3 columns">
      <%= image_tag('face_4.png', :class => 'testimonial_image') %>
    </div>
    <div class="large-9 columns testimonial">
      <blockquote>I wanted to live the <strong>freelance lifestyle</strong> and still afford a Tesla&reg;. The <strong>minimum contract amount</strong> feature allowed me to only be contacted by clients with contracts of <strong>$25,000 or more.</strong><cite>Joshua Busby - Freelance Developer </cite></blockquote> 
      <br>
     <br>
    </div>
    <hr>
  </div>

  <div class="row">
    <div class="large-3 columns">
      <%= image_tag('face_3.png', :class => 'testimonial_image') %>
    </div>
    <div class="large-9 columns testimonial">
      <blockquote><strong>Tune In. Turn On. Drop Out of College and Code.</strong> That was my mantra and now I make more money coding remotely than both my parents make <em>combined</em>. <cite>Samson Charles - iOS Developer </cite></blockquote> 
        <br>
    </div>
    <hr>
  </div>

  <div class="row">
    <div class="large-3 columns">
      <%= image_tag('face_1.jpg', :class => 'testimonial_image') %>
    </div>
    <div class="large-9 columns testimonial">
      <blockquote>I didn't want to work a <strong>corporate job</strong>, but I still wanted to make a high <strong>six figure income</strong> as a <strong>Ruby on Rails software developer</strong>. Now I can work from my laptop from anywhere in the world and still make a corporate salary.<cite>Simon Greene - Ruby on Rails Developer</cite></blockquote> 
        <br>
    </div>
  </div>
<hr>
<br>
  <div class="row">
    <div class="large-6 large-centered columns">
        <%= link_to('HIRE', register_path(:type => 'Employer'), :id => "mobile_hide", :class => "button large [radius round] button_landing_page_left") %>
      <%= link_to('GET HIRED', register_path(:type => 'Developer'), :id => "mobile_hide", :class => "button large [radius round] button_landing_page_right success") %>
    </div>
  </div>
  <hr>
  <div class="row">
       <div class="large-12 columns">
        <h1 class="why_should_i_headline">Instantly find local developers or local contracts.</h1>
        <br>       
        <%= image_tag('searching.jpg', :class => 'searching_screenshot') %>
        <br>
        <br> 
        <hr>   
        </div>
      <div class="large-12 columns">
        <h1 class="why_should_i_headline">Use mobile touch-swipe to view developers.</h1><br>      
        <%= image_tag('iphone_mobile.png', :class => 'iphone_image') %>
        <hr>    
      </div>
      <div class="large-12 columns">
        <h1 class="why_should_i_headline">Instantly hire your developer...</h1> 
        <br>      
        <%= image_tag('instant_hire.png', :class => 'instant_hire_screenshot') %>
        <br>
        <br> 
      </div>
  </div>
  <hr>
      <div class="large-12 columns">
        <br>
        <br>
        <h1 id="why_should_i_sign_up_headline">How is this app totally <strong>awesome sauce</strong>?</h1>
        <br>
        <br>
      <hr>
      </div>
  <div class="row">
      <div class="large-12 columns">
        <h1 class="why_should_i_headline">Corporate jobs are um...<strong>corporate jobs.</strong></h1>       
        <br>
        <%= image_tag('corporate.jpg', :class => 'cartoon_image') %>
        <br>
        <br> 
      </div>
      <div class="large-12 columns">
        <h1 class="why_should_i_headline">Freelancing on <strong>other freelancer sites</strong> won't pay the bills.</h1>
        <br>
        <%= image_tag('poor.jpg', :class => 'cartoon_image') %>
            <br>
      <br>
      </div>
      <div class="large-12 columns">
        <h1 class="why_should_i_headline">With this app, you can enjoy a <strong>corporate paycheck</strong> while living the <strong>freedom-based lifestyle</strong> of an independent developer. Now that's <strong>awesome sauce.</strong></h1>
        <br>
        <%= image_tag('freedom.jpg', :class => 'freedom_image') %>
        <br>
        <br>
      </div>
  </div>
  <hr>
  <div id="landing_page_benefits_section">
<br>
  <div class="row">
    <div class="large-6 large-centered columns">
        <%= link_to('HIRE', register_path(:type => 'Employer'), :id => "mobile_hide", class: "button large [radius round] button_landing_page_left") %>
      <%= link_to('GET HIRED', register_path(:type => 'Developer'), :id => "mobile_hide", class: "button large [radius round] button_landing_page_right success") %>
    </div>
  </div>
<hr>
    <div class="row">
      <div class="large-12 columns">
        <h1 id="why_should_i_sign_up_headline">What Are The Benefits to <strong>Developers</strong>?</h1>
      </div>
      <div class="large-4 columns">
        <i class="fi-fast-forward foundation-icon"></i>
        <h4>IT'S FAST</h4>
        <p>Get PAID UPFRONT up to 50% of the full contract value before you write your first line of code.</p><p>No more endless meetings, blogging, and online marketing to keep your pipeline of clients stocked - lock in a steady flow of clients to avoid the feast-or-famine experienced by other freelancers.</p>
      </div>
      
      <div class="large-4 columns">
        <i class="fi-compass foundation-icon"></i>
        <h4>IT'S LOCAL</h4>
        <p>Make a corporate salary while living a freedom-based, remote lifestyle. You can find a short-term project or meet once or twice a month in person, and work from your laptop the rest of the time - it's up to you and the employer to negotiate your preferred terms. And no more competing with offshore developers charging six dollars per hour on those other freelance websites - that endless race to the bottom stops here.</p>
      </div>
      
      <div class="large-4 columns">
        <i class="fi-cloud foundation-icon"></i>
        <h4>IT'S SAFE</h4>
        <p>Anyone who contacts you through our app means business - each employer must deposit the full amount of the contract before you write the first line of code. And <strong>developers can earn up to 50% of the contracted amount upfront</strong> <%= link_to '(view details).', 'payouts.html', :class => "popup", :"data-width" => 600, :"data-height" => 400 %></p><p>You can even set a minimum contract amount - so no one can contact you unless they're legit.</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="large-12 columns">
        <h1 id="why_should_i_sign_up_headline">What Are The Benefits to <strong>Employers</strong>?</h1>
      </div>
      <div class="large-4 columns">
        <i class="fi-fast-forward foundation-icon"></i>
        <h4>IT'S FAST</h4>
        <p>No more waiting around for recruiters.  Find and hire a local developer today.</p>
      </div>
      
      <div class="large-4 columns">
        <i class="fi-compass foundation-icon"></i>
        <h4>IT'S LOCAL</h4>
        <p>Find a great, local developer who you can meet with in person when needed. No more miscommunication across timezones and cultures. Sometimes offshoring is the right choice, but when you need a talented, local developer to join your team, we're here for you.  And know that your developer is part of our community, a local resource whenever you need to scale up quickly.</p>
      </div>
  
      <div class="large-4 columns">
        <i class="fi-cloud foundation-icon"></i>
        <h4>IT'S SAFE</h4>
        <p>Know that your project is going to get done right.  We hold your balance (minus any upfront payment to the developer) in an FDIC-insured escrow account until you sign off on the final deliverable.</p>
      </div>
      </div>
    </div> 
  <div class="row">
    <div class="large-12 columns">
  <h2 id="and_its_always_free_tagline" class="text-center">...and it's <strong><em>always free </em></strong>for developers. Oh, Snap!</em></h2>
    <br>
    <div class="row">
    <div class="large-6 large-centered columns">
        <%= link_to('HIRE', register_path(:type => 'Employer'), :id => "mobile_hide", class: "button large [radius round] button_landing_page_left") %>
      <%= link_to('GET HIRED', register_path(:type => 'Developer'), :id => "mobile_hide", class: "button large [radius round] button_landing_page_right success") %>
    </div>
    <br>
  </div>
    <br>
    </div>
  </div>
<%= javascript_tag "facebookPopUp()" -%>
