  <div class="row">
    <div class="large-1 column"></div>
      <div class="large-10 column"></div> 
    <div class="large-1 column"></div>
  </div>
  <div id="player_container" class="full-width border">
    <div id="player">
    <div class="bg-content-wrapper">
        <div class="bg-content">
          <video muted data-bgpos="center" preload="auto" loop="" autoplay="" muted="" style="left: auto; right: auto; transform: scale(1, 1) translateY(-90px); opacity: 1;">
            <source type="video/mp4" src="<%= video_path('bridge_cc.mp4') %>">
          </video>
          <span class="sv-section-img alt-video-poster static-bg" src="<%= image_path('bridge_cc_frame.png') %>" style="background-image: background-position: center; background-size: cover;"></span>
        </div>
    </div>
    </div>
    <div class="text-center landing-page-buttons full-width border" id="headlines">
      <h2 id="landing-page-headline" class="text-center text-jumbo">Welcome to the stock market for tech talent.</h2>
      <h5 id="subtitle" class="text-center"> Instantly Find and Hire Local Developers for ONE WEEK contracts.</h5>s
      <br>
      <div>
      <%= link_to('HIRE', register_path(:type => 'Employer'), :id => "mobile_hide", class: "button large [radius round] button_landing_page_left") %>
      <%= link_to('GET HIRED', register_path(:type => 'Developer'), :id => "mobile_hide", class: "button large [radius round] button_landing_page_right success") %>
      </div>
    </div>
  </div>
  <div id="ticker_tape">
    <% 200.times do %>
        <span id="ticker_tape_developer_type"><%= ['Ruby on Rails Developer','Node.js Developer','AngularJS Developer','Java Developer','Front-End Developer'].sample %></span>
        <span id="ticker_tape_contract_amount"><%= number_to_currency(rand(2000..4000).round(-2), :precision => 0) %></span>
    <% end %>
  </div>

  <div class="row">
    <div class="large-3 columns">
      <%= image_tag('face_2.png', :class => 'testimonial_image') %>
    </div>
    <div class="large-9 columns testimonial">
      <blockquote>My startup lost its entire engineering team in what I like to call a <em>freak display of millennial immaturity</em>.  We needed to call in some <strong>pinch-hitters</strong> as a stop-gap measure. We had three <strong>Node.js</strong> developers by the next morning thanks to San Francisco Developer Exchange&trade;!<cite>David Solomon - CTO</cite></p></blockquote> 
        <br>
    </div>
    <hr>
  </div>

  <div class="row">
    <div class="large-3 columns">
      <%= image_tag('adam.jpg', :class => 'testimonial_image') %>
    </div>
    <div class="large-9 columns testimonial">
      <blockquote>What Airbnb&trade; did for unused <strong>room capacity</strong>, San Francisco Developer Exchange&trade; accomplishes for unused <strong>talent capacity</strong> - it gives you efficient access to tech talent on an as-needed basis.<cite>Adam Wohlberg - Ruby on Rails Developer & Founder</cite><p><%= link_to('...currently on the lookout for a great contract.', developers_path) %></p></blockquote> 
        <br>
    </div>
    <hr>
  </div>


  <div class="row">
    <div class="large-3 columns">
      <%= image_tag('whim.jpg', :class => 'testimonial_image') %>
    </div>
    <div class="large-9 columns testimonial">
      <blockquote>A more personal way to browse candidates - I love seeing their profiles in a similar format to those on dating apps.<cite>Eve Peters - Founder, Whim&reg;</cite><p><%= link_to('...currently on the lookout for a great iOS/Golang developer.', contracts_path) %></p></blockquote> 
        <br>
    </div>
    <hr>
  </div>

  <div class="row">
    <div class="large-3 columns">
      <%= image_tag('face_4.png', :class => 'testimonial_image') %>
    </div>
    <div class="large-9 columns testimonial">
      <blockquote>I wanted to live the <strong>freelance lifestyle</strong> and still afford a Tesla&reg;. The <strong>minimum contract amount</strong> feature allowed me to only be contacted by clients with contracts of <strong>$25,000 or more.</strong><cite>Joshua Busby - Freelance Developer </cite></blockquote> 
      <br>
     <br>
    </div>
    <hr>
  </div>

  <div class="row">
    <div class="large-3 columns">
      <%= image_tag('face_3.png', :class => 'testimonial_image') %>
    </div>
    <div class="large-9 columns testimonial">
      <blockquote><strong>Tune In. Turn On. Drop Out of College and Code.</strong> That was my mantra and now I make more money coding remotely than both my parents make <em>combined</em>. <cite>Samson Charles - iOS Developer </cite></blockquote> 
        <br>
    </div>
    <hr>
  </div>

  <div class="row">
    <div class="large-3 columns">
      <%= image_tag('face_1.jpg', :class => 'testimonial_image') %>
    </div>
    <div class="large-9 columns testimonial">
      <blockquote>I didn't want to work a <strong>corporate job</strong>, but I still wanted to make a high <strong>six figure income</strong> as a <strong>Ruby on Rails software developer</strong>. Now I can work from my laptop from anywhere in the world and still make a corporate salary.<cite>Simon Greene - Ruby on Rails Developer</cite></blockquote> 
        <br>
    </div>
  </div>
<hr>
<br>
  <div class="row">
    <div class="large-6 large-centered columns">
        <%= link_to('HIRE', register_path(:type => 'Employer'), :id => "mobile_hide", :class => "button large [radius round] button_landing_page_left") %>
      <%= link_to('GET HIRED', register_path(:type => 'Developer'), :id => "mobile_hide", :class => "button large [radius round] button_landing_page_right success") %>
    </div>
  </div>
  <hr>
  <div class="row">
       <div class="large-12 columns">
        <h1 class="why_should_i_headline">Instantly find local developers or local contracts.</h1>
        <br>       
        <%= image_tag('searching.jpg', :class => 'searching_screenshot') %>
        <br>
        <br> 
        <hr>   
        </div>
      <div class="large-12 columns">
        <h1 class="why_should_i_headline">Use mobile touch-swipe to view developers.</h1><br>      
        <%= image_tag('iphone_mobile.png', :class => 'iphone_image') %>
        <hr>    
      </div>
      <div class="large-12 columns">
        <h1 class="why_should_i_headline">Instantly hire your developer...</h1> 
        <br>      
        <%= image_tag('instant_hire.png', :class => 'instant_hire_screenshot') %>
        <br>
        <br> 
      </div>
  </div>
  <hr>
      <div class="large-12 columns">
        <br>
        <br>
        <h1 id="why_should_i_sign_up_headline">How is this app totally <strong>awesome sauce</strong>?</h1>
        <br>
        <br>
      <hr>
      </div>
  <div class="row">
      <div class="large-12 columns">
        <h1 class="why_should_i_headline">Corporate jobs are um...<strong>corporate jobs.</strong></h1>       
        <br>
        <%= image_tag('corporate.jpg', :class => 'cartoon_image') %>
        <br>
        <br> 
      </div>
      <div class="large-12 columns">
        <h1 class="why_should_i_headline">Freelancing on <strong>other freelancer sites</strong> won't pay the bills.</h1>
        <br>
        <%= image_tag('poor.jpg', :class => 'cartoon_image') %>
            <br>
      <br>
      </div>
      <div class="large-12 columns">
        <h1 class="why_should_i_headline">With this app, you can enjoy a <strong>corporate paycheck</strong> while living the <strong>freedom-based lifestyle</strong> of an independent developer. Now that's <strong>awesome sauce.</strong></h1>
        <br>
        <%= image_tag('freedom.jpg', :class => 'freedom_image') %>
        <br>
        <br>
      </div>
  </div>
  <hr>
  <div id="landing_page_benefits_section">
<br>
  <div class="row">
    <div class="large-6 large-centered columns">
        <%= link_to('HIRE', register_path(:type => 'Employer'), :id => "mobile_hide", class: "button large [radius round] button_landing_page_left") %>
      <%= link_to('GET HIRED', register_path(:type => 'Developer'), :id => "mobile_hide", class: "button large [radius round] button_landing_page_right success") %>
    </div>
  </div>
<hr>
    <div class="row">
      <div class="large-12 columns">
        <h1 id="why_should_i_sign_up_headline">What Are The Benefits to <strong>Developers</strong>?</h1>
      </div>
      <div class="large-4 columns">
        <i class="fi-fast-forward foundation-icon"></i>
        <h4>IT'S FAST</h4>
        <p>Get <strong>paid upfront</strong> up to 50% of the full contract value before you write your first line of code.</p><p>No more endless meetings, blogging, and online marketing to keep your pipeline of clients stocked - lock in a steady flow of clients to avoid the feast-or-famine experienced by other freelancers. </p><p>No more selling yourself short or taking a lower-paying corporate job for fear of not finding enough contract work. It's a developers market - know your true market value and lock in great contracts - every week.</p>
      </div>
      
      <div class="large-4 columns">
        <i class="fi-compass foundation-icon"></i>
        <h4>IT'S LOCAL</h4>
        <p>Make a corporate salary while living a freedom-based, remote lifestyle. You can find a short-term project and work next week! Then take a week off and fly to Bali for a surf trip! And no more competing with offshore developers charging six dollars per hour on those other freelance websites - that endless race to the bottom stops here.</p>
      </div>
      
      <div class="large-4 columns">
        <i class="fi-cloud foundation-icon"></i>
        <h4>IT'S SAFE</h4>
        <p>Anyone who contacts you through our app means business - each employer must deposit the full amount of the contract before you write the first line of code. And <strong>developers can earn up to 50% of the contracted amount upfront</strong> <%= link_to '(view details).', 'payouts.html', :class => "popup", :"data-width" => 600, :"data-height" => 400 %></p><p>You can even set a minimum contract amount - so no one can contact you unless they're legit.</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="large-12 columns">
        <h1 id="why_should_i_sign_up_headline">What Are The Benefits to <strong>Employers</strong>?</h1>
      </div>
      <div class="large-4 columns">
        <i class="fi-fast-forward foundation-icon"></i>
        <h4>IT'S FAST</h4>
        <p>No more waiting around for recruiters.  Find and hire a local developer today. Find a great, local developer and have them in your office the next day - or meet with them once and let them work remotely the rest of the week - it's totally up to you! </p>
      </div>
      
      <div class="large-4 columns">
        <i class="fi-compass foundation-icon"></i>
        <h4>IT'S LOCAL</h4>
        <p>No more miscommunication across timezones and cultures. Sometimes offshoring is the right choice, but when you need a talented, local developer to join your team, we're here for you.  And know that your developer is part of our community, a local resource whenever you need to scale up quickly.</p>
      </div>
  
      <div class="large-4 columns">
        <i class="fi-cloud foundation-icon"></i>
        <h4>IT'S SAFE</h4>
        <p>Limit your risk by hiring a developer for one week only.  If you like them, hire them back or make them a full-time offer. If not, simply hire a new developer the next week.  It just makes sense to have a test period before you take on the risk of a new full-time hire. Our app allows you to test a new developer in your culture each week - and then stick with the one who is the perfect fit. The smartest firm hire slowly and fire quickly - our app let's you take less risk and find the perfect fit before you hire them full-time or scale up and down flexibly as new projects come and go - making your costs inremental rather than fixed - your CFO and account will love it as will your investors!</p>
      </div>
      </div>
    </div> 
  <div class="row">
    <div class="large-12 columns">
  <h2 id="and_its_always_free_tagline" class="text-center">...and it's <strong><em>always free </em></strong>for developers. Oh, Snap!</em></h2>
    <br>
    <div class="row">
    <div class="large-6 large-centered columns">
        <%= link_to('HIRE', register_path(:type => 'Employer'), :id => "mobile_hide", class: "button large [radius round] button_landing_page_left") %>
      <%= link_to('GET HIRED', register_path(:type => 'Developer'), :id => "mobile_hide", class: "button large [radius round] button_landing_page_right success") %>
    </div>
    <br>
  </div>
    <br>
    </div>
  </div>
<%= javascript_tag "facebookPopUp()" -%>
