<div class="row">
  <div class="small-2 medium-2 large-2"></div>
  <div class="small-10 medium-10 large-10">
    <strong><h1>My Negotiations</h1></strong>
    <strong><h3>Contract Name: </strong><%= @contract.name.downcase.titleize %>
  <hr>
  <% if @negotiations.present? %>
    <ol>
    <% @negotiations.each do |negotiation| %>
        <li>
          <% if current_user.type == 'Employer' %>
            <%= link_to image_tag(negotiation.developer.avatar, :id => "developer_profile_image_my_negotiations_page",:alt => "developer image small"), negotiation_path(negotiation) %><br />
            <strong><h5><%= link_to negotiation.developer.title, negotiation_path(negotiation) %><br>
            username: <%= link_to negotiation.developer.username, negotiation_path(negotiation) %></h5>
          <% elsif current_user.type == 'Developer' %>
            <%= link_to image_tag(negotiation.contract.employer.avatar, :id => "developer_profile_image_my_negotiations_page",:alt => "developer image small") %><br />
            <strong><h5><%= link_to negotiation.contract.title, negotiation_path(negotiation) %></h5></strong>   
          <% end %>
        </li>
      <hr>
    <% end %>
    </ol>
  <% else %>
    <% if current_user.type == 'Employer' %>
      <h5>You don't have any negotiations yet. <%= link_to 'Find a developer now.', developers_path %></h5> 
    <% elsif current_user.type == 'Developer' %>  
      <h5>You don't have any negotiations yet. <%= link_to 'Find a contract now.', contracts_path %></h5>    
    <% end  %>   
  <% end %>
  </div>
  <div class="small-2 medium-2 large-2"></div>
</div>


