   <div class="large-12 columns footer_nav_bar">
    <footer class="row">
<!--       <hr/> --><br>
      <div class="row">
        <div class="large-12 columns">
          <ul class="inline-list">
            <%= link_to 'TERMS OF USE', '/legal/terms-of-use' %> &nbsp;&nbsp;|&nbsp;&nbsp;
            <%= link_to 'MEMBERSHIP TERMS', '/legal/membership-terms' %> &nbsp;&nbsp;|&nbsp;&nbsp;
            <%= link_to 'PRIVACY POLICY', '/legal/privacy-policy' %>&nbsp;&nbsp;|&nbsp;&nbsp;
            <%= mail_to 'support@sanfranciscodeveloperexchange.com', 'CONTACT SUPPORT' %>
          </ul>
        </div>
      </div>
    <div class="row">
        <div class="small-12 columns" id="business_information">
          <p>© <%= Time.now.year %> ZENDO Single Page Apps&trade; LLC dba San Francisco Developer Exchange&trade; | Hire a Local Developer Today!</p>
        </div>
    </div> 
    </footer>
  </div>
</body>
</html>