<!DOCTYPE html>
<html lang-"en" ng-app="myApp">
<head>
  <title>San Francisco Developer Exchange | Hire a Local Developer Today </title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="The premium marketplace for freelance, developer contracts. The fastest, easiest way to find and hire a local developer.">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag '/favicon.ico' %>
</head>
<body>
<!-- Begin Inspectlet Embed Code -->
<script type="text/javascript" id="inspectletjs">
window.__insp = window.__insp || [];
__insp.push(['wid', 574950683]);
(function() {
function __ldinsp(){var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); }
if (window.attachEvent) window.attachEvent('onload', __ldinsp);
else window.addEventListener('load', __ldinsp, false);
})();
</script>
<!-- End Inspectlet Embed Code -->
<%= javascript_tag "embedGoogleAnalyticsTrackingCode()" -%>
<div class="fixed">
  <nav class="top-bar">
    <ul class="title-area">
      <%= link_to image_tag("/images/logo7.png", height: '110', width: '450', :id => 'logo_image', alt: "San Francisco Developer Exchange"), root_path %>
    </ul>
  <div class="right">
      <div id="header_icons">
        <div id="developer_icons">
          <% if current_user && current_user.type == 'Developer' %>
              <%= link_to(trading_floor_index_path) do %> 
                  <div>            
                    <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="The Developer Exchange"><i class="fi-results-demographics far-left icon"></i></span>
                  </div>
              <% end %>
              <%= link_to(my_negotiations_path) do %>
                  <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="My Negotiations"><i class="fi-torsos style1 icon"><span class="iconCounter"><span id="counterNumber"><%= current_user.negotiations.count %></span><span></i></span>
              <% end %>
              <%= link_to(my_contracts_path) do %>
                <span id="second" data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="My Contracts"><i class="fi-page-multiple style2 icon"><span class="iconCounter"><span id="counterNumber"><%= current_user.contracts.visible.count %></span><span></i></span>
              <% end %>
              <%= link_to(edit_user_registration_path) do %>
                <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="Edit My Profile"><i class="fi-widget style3 icon"></i></span>
              <% end %>
              <%= link_to(search_contracts_path) do %>
                <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="Search Contracts"><i class="fi-magnifying-glass style4 icon"></i></span>
              <% end %>
          <% end %>
        </div>

        <div id="employer_icons">
          <% if current_user && current_user.type == 'Employer' %>
              <%= link_to(trading_floor_index_path) do %>
                  <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="The Developer Exchange"><i class="fi-results-demographics far-left icon"></i></span>
              <% end %>
              <%= link_to(new_contract_path) do %>
                  <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="New Contract"><i class="fi-page-edit style_special icon"></i></span>
              <% end %>
              <%= link_to(my_contracts_path) do %>
                  <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="My Contracts"><i class="fi-page-multiple style2 icon"><span class="iconCounter"><span id="counterNumber"><%= current_user.contracts.visible.count %></span><span></i></span>
              <% end %>
              <%= link_to(edit_user_registration_path) do %>
                  <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="Edit Profile"><i class="fi-widget style3 icon"></i></span>
              <% end %>
              <%= link_to(search_developers_path) do %>
                  <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="Search Developers"><i class="fi-magnifying-glass style4 icon"></i></span>
              <% end %>
          <% end %>
        </div>

      </div>
      <% if current_user && current_user.type == 'Developer' && !current_user.username.present?%>
          <%= link_to('Create Profile', edit_developer_path(current_user.id), :class => "medium button success", :id => "create_a_profile") %>
      <% end %>
      <% if current_user && current_user.avatar_file_name? %>
        <% if current_user.type == 'Developer' %>         
          <%= link_to(image_tag(current_user.avatar, :id => 'headerProfileImage', alt: "profile"), edit_developer_path(current_user.id)) %><br />
        <% elsif current_user.type == 'Employer' %> 
          <%= link_to(image_tag(current_user.avatar, :id => 'headerProfileImage', alt: "profile"), edit_user_registration_path) %><br />
        <% end %>
      <% elsif current_user && current_user.fb_image.present? %>
        <%= image_tag(current_user.fb_image, :id => 'headerProfileImage', alt: "profile image") %><br/>
      <% else %>
        <%# image_tag('noface.jpg', :id => 'headerProfileImage', alt: "search image spinning")  %><br />
      <% end %>
    <ul id="register_and_login_links">
      <% if user_signed_in? %>
        <li><%= link_to 'Hi ' + current_user.first_name.capitalize, edit_user_registration_path, id: "register_name" %></li>
      <% else %>
        <div id="landing_page_login_and_register_links_in_header">
          <%= link_to('Login', login_path) %>
          <span><%= link_to('Sign Up', register_path) %></span>
        </div>
      <% end %>
        <div id="hidden-register-name-dropdown-links">
          <li><%= link_to 'LOG OUT', logout_path %></li>
        </div>
    </ul>
    </div>
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <% if user_signed_in? && current_user.type == 'Employer'%>

        <% end %> 
        <% if user_signed_in? && current_user.type == 'Developer'%>  

        <% end %> 
    </section>
  </nav>
</div>
